
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #226C3B;
    --lighter-green: #38B261;
    --background-color: #fff;
    --dark-green: #226438;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; old */
    font-family: 'Playfair Display', serif;
}



header {
    width: 100%;
    height: 90px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 3;
    display: flex;
    padding: 0px 80px;
    justify-content: space-between;
    
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--primary-color);
    
}

.logo-container img {
    width: 65px;
}

@keyframes translateDown {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.header-nav {
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 1.05em;
    font-weight: 500;
}
.header-link {
    border-bottom: 2px solid transparent;
}

.header-link a{
    color: black;
    text-decoration: none;

}

.header-link:hover {
    border-bottom: 2px solid black;
    transition: all 0.5s;
}

/* main */

main {
    height: 1100px;
}

.picture {
    width: 100%;
    height: 400px;
}

.picture img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(50%);
}

.content {
    height: 700px;
    display: flex;
    padding: 40px 100px;;
    align-items: center;
    gap: 100px;
}

.content .left-text {
    width: 40%;
    display: flex;
    align-items: right;
    flex-direction: column;
    text-align: center;
    height: 100%;
    justify-content: center;
    gap: 30px;
}

.left-text h1 {
    font-size: 3em;
    font-weight: 100;
}

.left-text p {
    font-size: 1.1em;
    
}

.left-text h1 i {
    color: var(--dark-green)
}

.right-form {
    box-shadow: 0px 0px 17px 6px rgba(67, 102, 86, 0.31);
    height: 120%;
    transform: translateY(-100px);
    z-index: 34;
    background-color: white;
    width: 60%;
    border-radius: 15px;

}


.right-form .buttondiv {
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
}

.buttondiv button {
    padding: 5px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    height: 60px;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    background: none;
    font-size: 0.9em;
    flex: 1;
}

.buttondiv button:hover {
    cursor: pointer;
    background-color: var(--lighter-green);
    transition: all .4s;
}

.selected {
    background-color: var(--lighter-green) !important;
} 

.right-form {

    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-wrapper {
    width: 100%;
    display: flex;
    gap: 10px;
    height: 40px;
    
}

.right-form h3 {
    font-size: 1.8em;
    text-align: center;
    font-weight: 100;
}

.right-form input {
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(185, 185, 185);
    font-size: 0.9em;
}

.right-form input:focus {
    border-bottom: 1px solid var(--primary-color)
}

.right-form input {
    flex: 1;
}

.email {
    width: 100%;
    display: flex;
    height: 40px;
}

.other {
    width: 100%;
    display: flex;
    height: 40px;
    gap: 10px;
}

.eventinfo {
    width: 100%;
    display: flex;
    height: 40px;
    
}

.estimates {
    width: 100%;
    display: flex;
    height: 40px;
    gap: 10px;
}

.submission {
    display: flex;
    align-items: center;
}

.submission p {
    width: 60%;
    padding: 10px;
    text-align: center;
}



.other input[type="tel"] {
    flex: 3;
}

textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    height: auto;
    outline: none;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 5px;
    font-size: 0.9em;
}

textarea:focus {
    border: 1px solid var(--primary-color);
}

button[type="submit"] {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: #2a8649;
    font-weight: bold;
    flex: 1;
}

button[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--lighter-green);
    transition: .4s;
}

/* footer */
footer {
    height: 250px;
    background-color: white;
    display: flex;
    padding: 30px;
}

.footer-left {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-left img {
    width: auto;
    height: 100%;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 30px;
    padding-left: 70px;
    font-size: 1.05em;
}

.links-top {
    display: flex;
    gap: 30px;
    
}

.links-top a{
    color: black;
    padding: 5px;
    text-decoration: none;
}

.links-bottom {
    display: flex;
    gap: 30px;
}

.links-bottom div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.links-bottom a {
    color: black;
    padding: 5px;
    text-decoration: none;
}
footer a {
    border-bottom: 1px solid transparent
}

footer a:hover {
    border-bottom: 1px solid black;
}


 

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--lighter-green);
    border-radius: 5px;
}

@media (max-width: 712px) {
    header {
        height: 200px !important;
        flex-direction: column;
        justify-content: center !important;
        gap: 20px;
    }

    .header-nav, .logo-container {
        justify-content: center;
    }
}

@media (max-width: 900px) {
    .footer-left {
        display: none;
    }

    .footer-right {
        padding: 0px;
    }

    footer {
        justify-content: center;
    }
}

@media (max-width: 712px) {
    .links-top {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer {
        height: 350px;
        align-items: center;
    }

    footer p {
        text-align: center;
    }
}

@media (max-width: 1200px) {
    main .content {
        padding: 40px;
    }
}

@media (max-width: 1000px) {
    .right-form p {
        display: none;
    }

    .estimates, .name-wrapper {
        height: 100px;
        gap: 20px;
        flex-direction: column;
    }

    .content {
        height: 800px;
    }

    .right-form {
        height: 110%;
    }
}

@media (max-width: 800px) {
    .right-form .buttondiv {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    main {
        height: 1400px;
    }
    .content {
        height: 1100px;
        justify-content: center;
    }

    .right-form {
        height: 90%;
        width: 80%;
    }

    .content .left-text {
        display: none;
    }
}

@media (max-width: 600px) {
    .right-form {
        width: 100%;
    }
}